
body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), 
        url("https://www.minecraft.net/content/dam/minecraftnet/games/minecraft/key-art/Homepage_Media-Block-B_DII-Promo_1920x1080.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color:white
}

@font-face {
    font-family: "Minecraft";
    src: url("MinecraftTen.ttf") format("truetype");
}

@font-face {
    font-family: "Minecraftt";
    src: url("MinecraftRegular.otf") format("truetype");
}


.introduction {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: "Minecraftt";
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 18px;
    text-align: center;
    transition: 0.3s ease all;
    border: 2px solid rgba(0, 255, 13, 0.3);
}
.introduction:hover {
    transform: translateY(-8px);
    border:2px solid #00ee0c;
}
#title-description {
    line-height: 1.8;
    margin-bottom: 12px;
}

.mode-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.modes {
    width: 30%;
    min-width: 250px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    text-align: center;
    border: 2px solid rgba(0, 238, 12, 0.3);
    font-family:'Minecraftt';
    transition: 0.3s ease all;
}
.modes:hover {
    transform: translateY(8px);
    border:2px solid #00ee0c
}



.worlds,
.modes,.trailer {
    width: 85%;
    max-width: 1200px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    font-family: "Minecraft";
    color: #00ee0c;
    font-size: 46px;
    margin-top: 30px;
}

.section-title {
    text-align: center;
    font-family: "Minecraft";
    color: #00ee0c;
    font-size: 35px;
    margin-bottom: 12px;
}


.section-description {
    text-align: center;
    font-family:"Minecraftt";
    margin-bottom: 35px;
}

.world-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}


.world-card {
    width: 31%;
    min-width: 280px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(0, 255, 13, 0.3);
    transition: 0.3s;
}


.world-card:hover {
    transform: translateY(8px);
    border-color: #00ee0c;

}


#overworld-image,#nether-image,#end-image {
    width: 100%;
    height: 220px;
}


.card-content {
    padding: 20px;
}


.card-content h3 {
    color: #00ee0c;
    font-family: "Minecraftt";
    font-size: 22px;
    margin-bottom: 12px;
}


.card-content p {

    line-height: 1.5;
    font-family: "Minecraftt";
    font-size: 16px;
    color: #dddddd;

}

#video {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;

}


#video-iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;

}

.mode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.mode-titles {
    color: #55ff55;
}

.mode-titlec {
    color: #55ffff;
}

.mode-titlea {
    color: #ffaa00;
}

.mode-titleh {
    color: #ff5555;
}

#O {
    color:#00ee0c
}

#N {
    color:rgb(154, 0, 0)
}

#E {
    color: purple
}

@media only screen and (min-width: 300px) {
    #title, #title2, #title3 {
        font-size: 26px;
    }
    .minecraft-text, .mc-worlds{
        width: 95%;
        font-size: 15px;
    }
}

@media only screen and (min-width: 576px) {
    #title, #title2, #title3 {
        font-size: 30px;
    }
    .minecraft-text, .mc-worlds{
        width: 85%;
        font-size: 16px;
    }
    .mc-photo {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    #title, #title2, #title3 {
        font-size: 34px;
    }
    .minecraft-text, .mc-worlds, #video {
        width: 75%;
        font-size: 17px;
        line-height: 1.6;
    }
    .mc-photo {
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
    #title, #title2, #title3 {
        font-size: 36px;
    }
    .minecraft-text, .mc-worlds {
        width: 60%;
        font-size: 18px;
        line-height: 1.7;
    }
    #video {
        width: 60%;
    }
    .mc-photo {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    .minecraft-text, .mc-worlds, #video {
        width: 52%;
    }
}

@media only screen and (min-width: 1400px) {
    .minecraft-text, .mc-worlds, #video {
        max-width: 800px;

    }
    #title, #title2, #title3 {
        font-size: 40px;
    }
}
#creator, #website {
    color: #ffffff;
    font-size: 20px;
    font-family: "Minecraftt";
}
#website a {
    color: #00ee0c;
    text-decoration: none;
}
@media only screen and (min-width: 576px) {
    #creator, #website {
    font-size: 18px;
}
}

@media only screen and (min-width: 992px) {
    #creator, #website {
    font-size: 20px;
    text-align: left;
}
}
